<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Flickr API DEMO</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js" type="text/javascript"></script>
	<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
  <section class="row" ng-app="formFlickr" ng-controller="FlickrController">
  <h1>Flickr API DEMO</h1>
  <article class="col-md-11">
    <div class="app-container">
      <fieldset class="app-fieldset">
        <legend class="app-legend">
          Search
        </legend>

        <form name="form" class="validate-form">
          <input id="searchCriteria"
                 ng-model="searchCriteria.tags"
                 ng-target="form.tags"
                 name=" tags"
                 type="text"
                 title="required input"
                 placeholder="Enter keyword"
                 required />
					<img src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif" alt="loader" id="loader" class="hidden" />
          <br />
					<div ng-app="formFlickr" ng-controller="PreTags">
    				Tags:
    				<select id="pretags" ng-model="searchCriteria.tags" ng-options="tag as tag.label for tag in pretags" ng-change="hasChanged(searchCriteria.tags)">
    				</select>
					</div>
					<br />
          <input type="button" class="btn btn-default" ng-click="resetForm(form);" value="Reset" />
          <button type="submit" class="btn btn-primary" ng-click="search(searchCriteria);document.getElementsByName('tags').focus();">
            Search Flicker
          </button>
        </form>
      </fieldset>

    </div>
    <div id="message"></div>
    <div id="images" class="app-container">
      <h3 ng-show="images.length > 0">
        Images
      </h3>
      <figure class="added-fig" ng-repeat="i in images">
        <img class="added-img" src="{{i.thumbnail.source}}" />
        <figcaption class="added-cap">{{i.title}}</figcaption>
      </figure>
    </div>

		</div>

</section>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
